body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.heading-website {
    font-family: "Merriweather", sans-serif;
    background-color: rgb(25, 25, 112);
    height: 50px;
    color: rgb(245, 199, 20);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    vertical-align: top;
    padding: 10px;
}

.heading-website:hover {
    cursor: pointer;
}

.sport-bar, .nutrition-bar, .about-bar, .mentalhealth-bar {
    margin-top: 0;
    display: flex;
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(25, 25, 112);
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0;
    padding: 10px;
    transition: 0.1s ease-in-out;
    justify-content: center;
    text-decoration: none;
    font-family: "Arial";
    text-align: center;
}

.sport-bar:hover, .nutrition-bar:hover, .about-bar:hover, .mentalhealth-bar:hover {
    cursor: pointer;
    font-size: 28px;
    background-color: rgb(50, 50, 150);
}

.sport-bar:active, .nutrition-bar:active, .about-bar:active, .mentalhealth-bar:active {
    opacity: 0.4;
}

.about-heading {
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-size: 48px;
}

.paragraph-container {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    word-spacing: 5px;
    letter-spacing: 1px;
    display: block;
    color: rgb(41, 41, 42);
}

.contact-heading {
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-size: 48px;
    margin-top: 70px;
}

.paragraph2-container {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    word-spacing: 5px;
    letter-spacing: 1px;
    display: block;
    color: rgb(41, 41, 42);
}

.problem1 {
    font-size: 24px;
}

.footer {
    margin-top: 50px;
    font-size: 16px;
    margin-bottom: 50px;
}